<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}
<!-- Main Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                    <div class="row">
                        <!--  Left side Div  -->
                        <div class="col-md-5 col-12 mx-auto main_header_right">
                        <figure>
                                <img src="img/image1.jpg" class="img-fluid img1" alt="...">
                        </figure>
                        </div>
                        <!--  Right side Div  -->
                        <div class="col-md-7 col-12 mx-auto main_header_left">
                            <p style="font-size:1.5rem;"> Welcome to weather app</p>
                            <h2>Get The Latest <span style="color:#4ec1e3"> Weather </span> Info of the City</h2>
                            <a href="/weather"><button>Check Now</button></a><br>
                            
                            
                                
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>




{{>script}}
</body>
{{>footer}}
</html>